@page "/Login"
@using System.Diagnostics
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime

<PageTitle>Login</PageTitle>

<div class="center">
    <h2>Please run the token command in the discord bot to get your token to log into this page.</h2>
    
    <button @onclick="SetCookie">Set Cookie</button>
</div>

@code
{
    private async Task SetCookie()
    {
        await JSRuntime.InvokeVoidAsync("eval", @"
            document.cookie = 'auth_token=your_token_value; path=/; max-age=86400; SameSite=Lax;';
        ");
    }
}